body {
  position: relative;
  margin: 0;  
  background-color: cornflowerblue;
}

.header {
  margin: 0;
  height: 10%;
  width: 100%;
  background-color: linen;
  text-align: center;
}

.header > h1 {
  margin: 0;
}

.header > p {
  margin: 0;
}

.menuBar {  
  width: 100%;
  height: 10%;
  text-align: center;
  background-color: linen;
}

.menuBar > hr {
  margin: 0;
  height: 0.05em;  
  background-color:linen ;
  border-width: 0;
  
}

.menuBar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.valikonAlkio {
  display: inline;
  
}

.menuBar > button {
  background-color: linen;
}